<!doctype html>
<html lang="<%= config['planet'].locale %>">

<head>
    <meta charset="utf-8">
    <link rel="icon shortcut" type="image/ico" href="favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= config['planet'].description %>">
    <title><%= config['planet'].name %></title>
    <link rel="alternate" type="application/atom+xml" href="atom.xml" />
    <link rel="alternate" type="application/rss+xml" href="rss.xml" />
    <link rel="stylesheet" href="https://cdnjs.cat.net/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.geekzu.org/css?family=Material+Icons">
    <script src="https://cdnjs.cat.net/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cat.net/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cat.net/ajax/libs/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cat.net/ajax/libs/vanilla-lazyload/9.0.1/lazyload.min.js"></script>
</head>

<body>
    <nav class="grey lighten-3">
        <div class="nav-wrapper">
            <ul class="left"><li><a href="#" data-activates="drawer" id="btn-drawer"><i class="material-icons black-text">menu</i></a></li></ul>
            <a class="brand-logo center black-text"><small><%= config['planet'].name %></small></a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <%
                var cstyles = 'abcd';
                var limit = posts.length > config['planet'].items ? config['planet'].items : posts.length
                for (var i = 0; i < limit; i++) {
                    var p = posts[i];
            %>
                <div class="col s12 m6">
                    <div class="card medium hoverable">
                        <div class="card-content black-text">
                            <div class="row valign-wrapper" style="margin-bottom: 0!important">
                                <div class="col s2">
                                <% if (p.avatar) { %>
                                    <img class="circle responsive-img" data-original="<%= p.avatar %>">
                                <% } else { %>
                                    <img class="circle responsive-img" data-original="img/akarin.jpg">
                                <% } %>
                                </div>
                                <div class="col s10"><span class="black-text"><%= p.author %></span></div>
                            </div>
                            <span class="card-title"><%= p.title %></span>
                            <p>
                                <p><b>Publish:</b><%= p.date %></p>
                                <% if (p.update && p.update !== p.date) { %>
                                    <p><b>Update:</b><%= p.update %></p>
                                <% } %>
                                <p>
                                    <% p.categories.forEach(function(category) { %><%= category %>&nbsp;·&nbsp;<% }) %>
                                </p>
                                <hr>
                                <% if (p._length > config['planet'].display_length && p.summary) { %>
                                    <%- p.summary.replace(new RegExp('src=','g'),'data-original=') %>
                                <% } else { %>
                                    <%- p.content.replace(new RegExp('src=','g'),'data-original=') %>
                                <% } %>
                            </p>
                        </div>
                        <div class="card-action waves-effect center">
                            <a href="<%= p.link %>" target="_blank" class="black-text"><b>Continue Reading</b></a>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <ul id="drawer" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background"><img src="/img/unification.png"></div>
                <span class="white-text name"><%= config['planet'].name %></span>
            </div>
        </li>
        <li><a class="subheader">Subscribe Planet</a></li>
        <li><a href="atom.xml">Atom</a></li>
        <li><a href="rss.xml">RSS</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subscribe List</a></li>
        <% config['people'].forEach(function(s) { %>
            <li><a href="<%= s.link %>"><%= s.name %></a></li>
        <% }) %>
    </ul>

    <script>
        $("#btn-drawer").sideNav();
        hljs.initHighlightingOnLoad();
        var myLazyLoad = new LazyLoad();
    </script>
</body>

</html>